fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic[email]
PyJWT
ollama
rank-bm25
pymupdf
pymupdf4llm
python-docx
pdf2image
pytesseract
python-dateutil
pytest
pdfplumber
docx2txt
json-repair
langchain-text-splitters